/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}

h1 {
    color: rgb(240, 219, 37);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-size: 1.2em;
    background-color: rgb(226, 58, 58);
    clear: both;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


header {
    color: rgb(240, 219, 37);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/* specifieke stijlen */

img.index1 {
    float: left;
    height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: groove;
    padding: 5px;
    border-color: rgb(226, 58, 58);
}

img.index2 {
    float: right;
    height: 200px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: groove;
    padding: 5px;
    border-color: rgb(226, 58, 58);

}

.smalltext {
    font-size: 0.7em;
}

a {
    color:rgb(266, 58, 58);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: white;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(226, 58, 58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color:rgb(226, 58, 58);
    color: white;
}




