/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

h1 {
    color: rgb(226, 206, 27);
    text-align: center;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(226, 206, 27);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.index1 {
    float: left;
    margin-right: 15px;
}

img.index2 {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color:rgb(266, 58, 58);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(226, 58, 58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color:rgb(226, 58, 58);
    color: white;
}




